.container_comb {
    /* border: 1px solid rgb(210, 210, 210); */
    border: none;
    box-shadow: -2px 4px 13px 2px rgba(0,0,0,0.43);
    -webkit-box-shadow: -2px 4px 13px 2px rgba(0,0,0,0.43);
    -moz-box-shadow: -2px 4px 13px 2px rgba(0,0,0,0.43);
    padding: 2rem 0;
    margin-top: 2rem;
}

.title_comb {
    text-align: center;
}

.container_section {
    display: flex;
    justify-content: center;
    height: 30px;
}

.button {
    background-color: rgb(0, 122, 49);
    color: white;
}

.container_card {
    display: flex;
    margin: 1rem 0;
}

.card {
    width: 100px;
    margin: 2rem auto;
    background-color: rgb(242, 238, 238);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_text {
    color: rgb(236, 86, 59);
}

.total {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    background-color: rgb(173, 149, 251);
    color: white;
}