
.sections_container {
    display: grid;
    grid-template-columns: 3fr repeat(3, 0) 1fr;
    grid-template-rows: 1fr repeat(4, 0);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .title_page {
    text-align: center;
    margin: 5rem 0;
  }