
.sections_container {
  display: grid;
  grid-template-columns: 3fr 1fr;  
  gap: 24px;
  align-items: start;
  }

  .title_page {
    text-align: center;
    margin: 5rem 0;
    background-color: rgb(250, 210, 195);
    padding: 2rem 0;
  }

  .aside_page {
    margin: 0 auto;
  }